<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mufflify.TextTVnu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>texttv.nu</name>
    <description>
        En iOS-app för SVT Text.
    </description>
    <author email="kontakt@texttv.nu" href="http://texttv.nu">
        TextTV.nu
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
