<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mufflify.TextTVnu" version="2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>TextTV.nu</name>
	<description>
		Lite bättre SVT Text TV.
	</description>
	<author email="kontakt@texttv.nu" href="http://texttv.nu">
		TextTV.nu-teamet
	</author>
	<content src="index.html" />
	<access origin="*" />

	  <feature name="UniversalAnalytics">
		<param name="ios-package" value="UniversalAnalyticsPlugin" />
	  </feature>

	<feature name="SplashScreen">
		<param name="ios-package" value="CDVSplashScreen"/>
		<param name="onload" value="true" />
	</feature>
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="FadeSplashScreen" value="false" />
	<preference name="splashscreen" value="splash" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="BackgroundColor" value="0xff0000ff"/>
	<preference name="DisallowOverscroll" value="true" />

	<!-- <preference name="StatusBarOverlaysWebView" value="true" />  -->
	<!-- <preference name="StatusBarBackgroundColor" value="#ff0000" /> -->
	<!-- <preference name="StatusBarStyle" value="lightcontent" /> -->

 	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
	</feature>

	<icon src="res/icon.png" />

	<platform name="ios">
			<!-- images are determined by width and height. The following are supported -->
			<splash src="resources/splash/ios/Default~iphone.png" width="320" height="480"/>
			<splash src="resources/splash/ios/Default@2x~iphone.png" width="640" height="960"/>
			<splash src="resources/splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
			<splash src="resources/splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
			<splash src="resources/splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
			<splash src="resources/splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
			<splash src="resources/splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>

			<!-- iphone 6 -->
			<splash src="resources/splash/ios/Default-667h.png" width="750" height="1334"/>

			<splash src="resources/splash/ios/Default-736h.png" width="1242" height="2208"/>
			<splash src="resources/splash/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
	</platform>

	<preference name="SplashScreenDelay" value="0" /> -->

</widget>
