<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mufflify.TextTVnu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TextTV.nu</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="SplashScreen">
	    <param name="ios-package" value="CDVSplashScreen"/>
	    <param name="onload" value="true" />
	</feature>
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="FadeSplashScreen" value="false" />
	<preference name="splashscreen" value="splash" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="BackgroundColor" value="0xff0000ff"/>
    <preference name="DisallowOverscroll" value="true" />
	<feature name="GAPlugin" >
    	<param name="ios-package" value="GAPlugin"/>
	</feature>
</widget>
