# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
texttv.sublime-workspace

app/texttv.nu/platforms/ios/cordova/console.log
app/texttvnucodovaapp/platforms/ios/cordova/console.log
app/texttvnucodovaapp/platforms/android/ant-build/

*.apk

# http://stackoverflow.com/questions/17911204/gitignore-for-phonegap-cordova-3-0-projects-what-should-i-commit
platforms/
app/index.php
