<!--
Template for a text tv page
Ouputs full ouput to be used inside a swiper slide
-->

<!-- for each page in pagerange (eg. 100-102), output each pages contents -->
<div ng-repeat="page in pages.current">

	<!-- Actual contents goes in content array. Each index there is one page in html -->
	<div ng-repeat="subpage in page.content" ng-bind-html="subpage">
	</div>

</div>

<!-- Reload + Share buttons below texttv-content -->
<div class="list card list--share">

	<div class="item item-text">

		<div class="button-bar">

			<a class="button">
				<i class="icon ion-ios7-reload"></i>
				Ladda om
			</a>

			<a class="button">
				<i class="icon ion-ios7-upload-outline"></i>
				Dela
			</a>

		</div>

	</div>

</div>
