<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>TextTV.nu</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="bower_components/ionic/dist/css/ionic.css">
	<link rel="stylesheet" href="bower_components/swiper/dist/idangerous.swiper.css">
	
	<link rel="stylesheet" href="css/texttv-theme-black.css">

	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/ionic/dist/js/ionic.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-route.js"></script>
	<!-- <script src="bower_components/ionic/dist/js/angular-ui/angular-ui-router.js"></script> -->
	<script src="bower_components/ionic/dist/js/angular/angular-animate.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-touch.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-sanitize.js"></script>
	
	<!-- Animation helpers -->
	<link rel="stylesheet" href="bower_components/animate.css/animate.css">
	<script src="bower_components/ngAnimate-animate.css/animate.js"></script>

	<script src="bower_components/ionic/dist/js/ionic-angular.js"></script>
	<script src="bower_components/swiper/dist/idangerous.swiper-2.4.js"></script>
	<script src="js/app.js"></script>

</head>

<body ng-app="texttvApp" ng-controller="TexttvCtrl">
	
		<side-menus>

		<!-- Center content -->
		<pane side-menu-content>
			
			<!--
			<header-bar
					title="headerbar.title" 
					class="bar bar-header bar-positive" 
					left-buttons="leftButtons" 
					right-buttons="rightButtons">
			</header-bar>
			-->
		 
			<!-- header bar with back button, title, menu link -->
			<div class="bar bar-header item-input-inset bar-positive">
				
				<button ng-show="headerbar.showBackButton" class="dn-fade-right button button-clear" ng-click="navBack()">
					<i class="icon ion-ios7-arrow-back"></i>
					Tillbaka
				</button>

				<h1 class="title">
					
					<span ng-show="!pages.current.length" ng-bind-html="headerbar.title"></span>
				 
					<span ng-show="pages.current.length">
						{{ pages.current[0].num }}
					</span>

				</h1>
				
				<button class="button button-clear" ng-click="toggleMenu()">
					<i class="icon ion-navicon-round"></i>
				</button>
				
			</div><!-- // end header bar -->

			<!--
			<div class="bar bar-header item-input-inset bar-positive">
			<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="number" min="100" max="999" pattern="\d*" placeholder="Gå till sida" autofocus>
			</label>
			<button class="button button-clear button-clear">
			Ok
			</button>
			</div>
			-->

			<!-- <div class="bar bar-subheader">
				<h2 class="title">Sub Header</h2>
			</div> -->

			<content scroll="true" overflow-scroll="false" has-header="true" has-footer="false" on-refresh="onRefresh()">

				<refresher></refresher>

				<div ng-view></div>

				<!-- 
				http://www.idangero.us/sliders/swiper/
				Swiper wrapper
				-->
				<div class="swiper-container">
					<div class="swiper-wrapper"></div>
				</div>
				
				<ng-include src="'partials/debug.html'"></ng-include>

			</content>
			
		</pane>

		<!-- Sidebar menu at right -->
		<side-menu side="right">
			<ng-include src="'partials/sidebar-menu-right.html'"></ng-include>
		</side-menu>
			
	</side-menus>

</body>
</html>