<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>TextTV2013</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<meta http-equiv="cleartype" content="on">
</head>

<body ng-app="todo" ng-controller="TodoCtrl">
	
	<script src="bower_components/jquery/jquery.js"></script>

	<link rel="stylesheet" href="bower_components/ionic/dist/css/ionic.css">
	<link rel="stylesheet" href="bower_components/swiper/dist/idangerous.swiper.css">
	<link rel="stylesheet" href="css/texttv-theme-black.css">

	<script src="bower_components/ionic/dist/js/ionic.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-animate.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-route.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-touch.js"></script>
	<script src="bower_components/ionic/dist/js/angular/angular-sanitize.js"></script>
	<script src="bower_components/ionic/dist/js/ionic-angular.js"></script>

	<script src="bower_components/swiper/dist/idangerous.swiper-2.4.js"></script>

	<script>

		angular.module('todo', ['ionic'])
		.controller('TodoCtrl', function($scope) {

		  $scope.tasks = [
		    { title: 'Collect coins' },
		    { title: 'Eat mushrooms' },
		    { title: 'Get high enough to grab the flag' },
		    { title: 'Find the Princess' }
		  ];

		$scope.toggleMenu = function() {
			console.log(123);
		  $scope.sideMenuController.toggleLeft();
};


		});


	</script>

	<script>
		
		var mySwiper;
		$(function($) {
		
		  mySwiper = new Swiper('.swiper-container',{
			//Your options here:
			mode: 'horizontal',
			resistance: true,
			useCSS3Transforms: true,
			/*onSlideChangeStart: function(swiper) {
			  console.log("onSlideChangeStart");
			},
			onSlideChangeEnd: function(swiper) {
			  console.log("onSlideChangeEnd");
			},
			onMomentumBounce: function() {
				console.log("onMomentumBounce");
			},
			onResistanceBefore: function() {
				console.log("onResistanceBefore");
			},
			onResistanceAfter: function() {
				console.log("onResistanceAfter");
			},
			onSetWrapperTransition: function(swiper, duration) {
				console.log("onSetWrapperTransition", duration);	
			},
			onSetWrapperTransform: function (swiper, transform) {
				console.log("onSetWrapperTransform", transform);
			}*/
		  });

		  console.log(mySwiper);

		  $.getJSON("http://texttv.nu/api/get/100", function(page) {

			console.log(page);
			console.log(mySwiper);
			
			var newSlide = mySwiper.createSlide( "Prev" );
			newSlide.append();

			newSlide = mySwiper.createSlide(page[0].content[0]);
			newSlide.append();

			newSlide = mySwiper.createSlide( "Next" );
			newSlide.append();

			mySwiper.swipeTo(1);

		  });
		
		}, false);

	</script>



  <side-menus>

	<!-- Center content -->
	<pane side-menu-content>
	  
	  <header class="bar bar-header bar-positive">
		<h1 class="title">TextTV.nu</h1>
	    <button class="button button-clear icon ion-navicon-round" ng-click="toggleMenu()"></button>
	  </header>
	 
	 <!--
	 <div class="bar bar-header item-input-inset bar-positive">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="number" min="100" max="999" pattern="\d*" placeholder="Gå till sida" autofocus>
  </label>
  <button class="button button-clear button-clear">
    Ok
  </button>
</div>
-->


	 	<!-- <div class="bar bar-subheader">
		  
		  <h2 class="title">Sub Header</h2>

		</div> -->

	  <content scroll="true" overflow-scroll="true" has-header="true" has-footer="true">

			<!-- 
			http://www.idangero.us/sliders/swiper/
			-->
			<div class="list card">
			  
			  <!-- <div class="item item-divider">
			    100
			  </div> -->

			  <div class="item item-image">

					<div class="swiper-container">
					  <div class="swiper-wrapper">
					  </div>
					</div>
				</div>

			  <div class="item item-text">


			  <div class="button-bar">
			  <a class="button">
			  	<i class="icon ion-ios7-upload-outline"></i>
			  	Dela
			  </a>
			</div>

			  </div>

		</div>
		
		<!-- 
		<div class="card">
		
		  <div class="item item-divider">
		    I'm a Header in a Card!
		  </div>
		  <div class="item item-text-wrap">
		    This is a basic Card with some text.
		  </div>
		  <div class="item item-text-wrap">
		    This is a basic Card with some text.
		  </div>
		  -->
	
		</div>


	  </content>

		<div class="tabs tabs-icon-top tabs-stable">
		  <a class="tab-item" ng-click="toggleMenu()">
		  	<i class="icon ion-navicon-round"></i>
		  	Sidor
		  </a>
		  <a class="tab-item">
		  	<i class="icon ion-home"></i>
		  	Hem
		  </a>
		  <a class="tab-item">
		  	<i class="icon ion-arrow-left-a"></i>
		  	Föregående
		  </a>
		  <a class="tab-item">
   		  	<i class="icon ion-arrow-right-a"></i>
		  	Nästa
		  </a>
		</div>


		<!-- nav tabs at bottom -->
		<!--
		<tabs tabs-type="tabs-icon-only tabs-positive"
		      tabs-style="tabs-primary">

		  <tab title="Hem" icon-on="icon ion-home" icon-off="icon ion-home">
		  	content 1
		  </tab>

		  <tab title="Föregående" icon-on="icon ion-arrow-left-a" icon-off="icon ion-arrow-left-a">
		    content 2
		  </tab>

		  <tab title="Nästa" icon-on="icon ion-arrow-right-a" icon-off="icon ion-arrow-right-a">
		    content 3
		  </tab>

		</tabs>
		-->

	</pane>

	<!-- Left menu -->
	<side-menu side="left">
	  <header class="bar bar-header bar-dark">
		<h1 class="title">Meny</h1>
	  </header>
		
		<content scroll="true" overflow-scroll="false" has-header="true">

		<div class="list">

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-email"></i>
		    Check mail
		  </a>

		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-chatbubble-working"></i>
		    Call Ma
		    <i class="icon ion-ios7-telephone-outline"></i>
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-mic-a"></i>
		    Record album
		    <span class="item-note">
		      Grammy
		    </span>
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-person-stalker"></i>
		    Friends
		    <span class="badge badge-assertive">0</span>
		  </a>

		</div>

		<div class="card">
		  <div class="item item-divider">
		    Om TextTv.nu
		  </div>
		  <div class="item item-text-wrap">
		    Gillar du appen? <a href="#">Betygsätt då den!</a>
		  </div>
		  <div class="item item-text-wrap">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vide, quantum, inquam, fallare, Torquate. Quod dicit Epicurus etiam de voluptate.</p>
		    <p>Quae minime sint voluptates, eas obscurari saepe et obrui. Quid autem habent admirationis, cum prope accesseris? Non igitur de improbo, sed de callido improbo quaerimus.</p>
		   </div>

		</div>

		</content>

	</side-menu>

  </side-menus>

</body>
</html>