
<ion-header class="bar bar-header bar-dark">
	<h1 class="title">Meny</h1>
	<button class="button button-clear ion-close-circled" ng-click="toggleMenu()"></button>
</ion-header>

<ion-content scroll="true" overflow-scroll="false" has-header="true">

	<!-- List with all selected page recommendations -->
	<div class="list">

		<a ng-repeat="page in sidebar.pages" class="item" href="#/sida/{{page.range}}">
			{{page.title}}
			<span class="item-note">
				{{page.range}}
			</span>
		</a>

	</div>

	<div class="card">
		<!-- <div class="item item-divider">
			Om TextTv.nu
		</div> -->
		<div class="item item-text-wrap">
			Gillar du vår texttv-app?
			<br>
			<a target="_blank" href="https://itunes.apple.com/se/app/texttv.nu/id607998045‎">ge den ett bra betyg på appstore</a> och gör oss glada :)
		</div>
		<div class="item item-text-wrap">
			<a target="_blank" href="https://twitter.com/TextTV_nu">Följ texttv.nu på Twitter</a>
		 </div>

	</div>

</ion-content>
