/**
 * Black theme for a texttv-page
 * each page is wrapped in .root
 */

.list--share {
	/*
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	*/
	background-color: rgba(26, 27, 47, .5);
	padding-top: 3px;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(26, 27, 47, .75);
}
.list--share .item {
	background-color: transparent;
	border-bottom: none;
	padding: 0;
	border: none;
}

.list--share .item .button {
	background-color: transparent;
	border-color: none;
	border: none;
	/*border-radius: 5px;*/
	border-right: 1px solid rgb(100, 100, 100);
}
.list--share .item .button:active {
	color: rgba(238, 238, 238, .75);
}

.list--share .icon {
	position: relative;
	top: -2px;
}
/* add item behind share/reload-buttons and blur */
/*	-webkit-filter: blur(3px); */
/*
.list--share::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 10;
	box-shadow: 0px 0px 10px 0px black;
	margin: 0px auto;
}
*/

.list--share .button {
	background-color: transparent;
	color: #eee;
	border-color: #999;
}

.button-bar > .button.ReloadButton {
	flex: 3;
}

.ShareButton {

}

.has-update-available .ReloadButton {
	background: rgb(62, 148, 13) !important;
}

.ReloadButton__updateavailableText {
	display: none;
}

.has-update-available .ReloadButton__updateavailableText {
	display: inline-block;
}
.has-update-available .ReloadButton__reloadText {
	display: none;
}

/* make text a bit smaller on smaller devices, or it will not fit */
@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 568px)
	and (orientation : portrait) {

	.has-update-available .ReloadButton .icon:before {
		font-size: 18px;
	}

	.ReloadButton__updateavailableText {
		font-size: .9em
	}

}

/* This is the font that is the narrowest and monospace and feels good etc. */
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url(../bower_components/ubuntu-font/ubuntumono-r.ttf) format('truetype');
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 700;
	src: url(../bower_components/ubuntu-font/ubuntumono-b.ttf) format('truetype');
}

/*
remove underline from link in header bar
also make the clickable area bigger
*/
.bar-header-titleLink {
	text-decoration: none;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
}

.bar-header-titleLink:active {
	color: #ddd !important;
}

/* While a page is loading */
.pageIsLoading, .placeholderPage {
	margin-top: 140px;
	text-align: center;
}

.pageIsLoading-spinnerIcon,
.pageIsLoading-failIcon,
.placeholderPage-icon {
	font-size: 44px;
	color: rgba(255,255,255, .5);
}

.pageIsLoading-text,
.placeholderPage-text {
	margin-top: 20px;
	color: rgba(255,255,255, .5);
	font-size: 24px;
	line-height: 1.2;
}

.pageIsLoading-text a {
	color: inherit;
}

.placeholderPage-pageRange {
	/*font-weight: bold;*/
	/*font-size: 66px;*/
}

/**
 * Set font size and general colors in the wrapper
 */
.swiper-wrapper {
}

.swiper-container {
	background: url(../img/bg-blurred.png);
	background-size: cover;
	background-position: center;
	color: #eee;
}

/* Make swiper contain the above font size */
.swiper-container, .swiper-slide {

	/*height: 28em;*/
	text-align: center;

	/* get above tab nav */
	/*z-index: 5;*/
}


/*
Wrapper for .root
T.ex. sida 200 blir icke centrerad..
*/
.TextTVPage {
	text-align: center;
}

.root {

	/*height: 27em;*/
	/*background: red;*/
	text-align: left;
	display: inline-block;
	vertical-align: top;
	/*width: 100%;*/

	font-family: "ubuntu mono", "courier new", monospace;
	/* make more text fit horizontaly, but still keep it readable */

	white-space: pre;
	/* 24 is good in desktop, 16 for mobile */
	font-size: 24px;

	/* 18 is good for full width */
	font-size: 18px;

	/* 17 is good for when in a card of type image */
	font-size: 16.5px;

	letter-spacing: -.1ex;
	line-height: 1.1;

	/* Move left a bit since it looks wrongly aligned otherwise */
	margin-left: -.5em;

	/* Always hate this hack, but without it the text is way to blurry */
	-webkit-font-smoothing: antialiased;

	/* match border radius of card */
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;

	padding-top: 1em;
	padding-bottom: 1em;
}

/* more space below last root, because to close to ad otherwise */
.root:last-of-type {
	padding-bottom: 2em;
}

/*
styles for ipad:
make one page fit in portrait mode, make two pages fit in landscape
*/
@media only screen and (min-width : 768px) {

	.root {
		font-size: 23px;
	}

}

.root h1 {
	display: inline;
	font-size: 1em;
	font-family: inherit;
}

/* row at top of a page, where it says current page and date */
.toprow {
	color: #ddd;
}

/* White, also default color */
.root,
.W,
.W a,
.root a {
	color: #eee;
}

.root a {
}
.root a:focus,
.root a:active
 {
	background: #666;
}

.bgW {
	background: #eee;
}

/* red color and background */
.R {
	color: rgb(200, 0, 0);
}
.bgR {
	background: rgb(200, 0, 0);
}

.B,
.B a { color: #1122CC }

/* Yellow */
.Y,
.Y a { color: #e2e200 }

.bgY {
	background: #e2e200;
}


/* Cyan */
.C,
.C a {
	color: #00c8ee;
}
.bgC {
	background: #00c8ee;
}

.bgB,
.bgB a {
	background: #33e;
}

/* green */
.DH {
	/* font-size: 1.2em; */
	/* letter-spacing: -0.175ex; */
	font-weight: 700;
}

/* Green */
.G,
.G a {
	color: #0C0;
}
.bgG {
	background: #0C0;
}

/* Magenta */
.M {
	color: #F0F
}
.bgM {
	background: #F0F
}


.view--main {
	-webkit-transition: -webkit-transform .15s ease-in-out;
	background-color: #333;
}
.view--main.open-sidebar {
	-webkit-transform: translateX(-275px);
	/*-webkit-transition: opacity .25s 0s, visibility 0s 2s;*/
}

.view--main .swiper-container {

	-webkit-transition: opacity .15s ease-in-out;
	opacity: 1;

}
.view--main.open-sidebar .swiper-container {
	opacity: .5;
	/*xdisplay: none;
	visibility: hidden;
	opacity: .5;
	-webkit-transition: opacity .25s 0s, visibility 0s 2s;
	*/
}

#MainView {

}


.menu {
	/*border: 1px solid red;*/
}
.menu .scroll-content {
	/*border: 1px solid yellow;*/
	overflow-y: scroll;

	/*
	below does not work. see
	// @BUG: this makes webkit-overflow-scrolling not working in the sidebar
	*/
	/*-webkit-overflow-scrolling: touch;*/
}
.content {
	height: 100%;
}
.swiper-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 44px; /* 40 px = same height as header bar */
	overflow: hidden;
}

.platform-ios7.platform-cordova:not(.fullscreen) .swiper-container,
.platform-ios8.platform-cordova:not(.fullscreen) .swiper-container
 {
	bottom: 64px
}

.swiper-slide {
	width: 100%;
	height: 100%;
	/*height: calc(100% - 40px);*/
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


/*
Fixa till högerspalten lite, t.ex. gillar jag inte de feta rubrikerna som ionic använder
*/
.menu-right .item-divider {
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 2em;
	color: #666;
	font-size: 14px;
}

.MostVisitedPagesItems .item,
.FavsItems .item
 {
	float: left;
	width: 50%;
	text-align: center;
}

/* don't show most visited any more - we use the mighty favs instead */
#SidebarMostVisisted {
	display: none;
}

.MostVisitedPagesItems .item-note {
	display: none;
}

.FavsItems {
	overflow: hidden;
}

/*
animations as angular does it:
.animate-enter-setup, .animate-leave-setup {
.animate-enter-setup {
.animate-enter-setup.animate-enter-start {
.animate-leave-setup.animate-leave-start {
.animate-leave-setup{
*/


/* back button in header bar */
/* when no previous page/history exists then it's hidden */
.button-back {
	-webkit-transition: -webkit-transform .5s ease-out, opacity .5s;
	opacity: 0;
	-webkit-transform: translate3d(10px,0px,0);

	/* make it a bit wider so it's easy to tap */
	width: 50px;
	text-align: left;
}

.button-back--enabled {
	opacity: 1;
	-webkit-transform: translate3d(0px,0px,0)
}
.button-back:active {
	opacity: .3;
	-webkit-transition: opacity 0;
}

#MainViewBar .button-clear:active {
	opacity: .3;
}

#SidebarRight .item:active {
	background-color: #D9D9D9;
}

/* hide share button if we are not on a device */
body:not(.platform-cordova) .hideIfNotCordova {
	display: none;
}

.loading {
	-webkit-transform: translateX(-50%);
}

/*
.platform-ios7.platform-cordova:not(.fullscreen) .bar-header > *
when on device bar goes from 44px to 67px
*/


.FavsItem-draggable {
	background: rgba(0, 0, 0, 0) url(../img/draggable-handle-bg.gif) top right repeat-y;
	position: absolute;
	top: 8px;
	bottom: 8px;
	right: 8px;
	width: 80px;
	padding: 0;
	cursor: move;
}

.FavsItems .sortable-ghost {
	background: rgba(0, 255, 0, .25);
}

.FavsItemEdit,
.FavsItemEditDone {
	position: absolute;
	bottom: -0.9ex;
	right: 0;

	/* match style of divider */
	font-size: 14px;
	text-transform: uppercase;
}

.FavsItem-remove {
	position: absolute;
	left: 0;
	top: 50%;
	padding: 10px; /* for larger click area */
	color: rgb(239, 78, 58);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

/* things to animate */
.FavsItem-remove,
.FavsItem-draggable,
.FavsItemEdit,
.FavsItemEditDone,
.FavsItem-add {
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
}


/* things to only show or hide when editing */
.FavsItem-remove,
.FavsItem-draggable,
.FavsItemEditDone,
.FavsItem-add
 {
	visibility: hidden;
	opacity: 0;
}

.FavsItem-add {
	overflow: hidden;
	max-height: 0;
	clear: both;
	border-top: 1px solid rgb(221, 221, 221);
}

#SidebarFavs.is-editing .FavsItem-remove,
#SidebarFavs.is-editing .FavsItem-draggable,
#SidebarFavs.is-editing .FavsItemEditDone,
#SidebarFavs.is-editing .FavsItem-add
 {
	visibility: visible;
	opacity: 1;
}

#SidebarFavs.is-editing .FavsItem-add {
	max-height: 50px;
}

#SidebarFavs.is-editing .FavsItemEdit {
	visibility: hidden;
	opacity: 0;
}


/*
http://forum.ionicframework.com/t/how-to-show-the-statusbar-on-ios-8-like-ios-7/9937
*/
/*
.platform-ios8.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>*{margin-top:20px}
*/

/*
styles for iphone 6:
make one page fit in portrait mode, make two pages fit in landscape
*/
@media only screen and (min-width: 375px) and (max-width: 414px) {

	.root {
		font-size: 20px;
	}

}

/* iphone 6+*/
@media only screen and (min-width: 414px) and (max-width: 415px) {

	.root {
		font-size: 20px;
	}

}
