<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30223179902-kms7el00gajqpo2ihf9g53843q7ult6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30223179902-kms7el00gajqpo2ihf9g53843q7ult6o</string>
	<key>API_KEY</key>
	<string>AIzaSyDAcbK2BAvbH3RgmiYPedOtarDNW3EAZuc</string>
	<key>GCM_SENDER_ID</key>
	<string>30223179902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mufflify.brottsplatskartan</string>
	<key>PROJECT_ID</key>
	<string>teletext-a4d17</string>
	<key>STORAGE_BUCKET</key>
	<string>teletext-a4d17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30223179902:ios:e82dc53ea85f8192</string>
	<key>DATABASE_URL</key>
	<string>https://teletext-a4d17.firebaseio.com</string>
</dict>
</plist>